In [1]:
import glob
import os
import pandas as pd
import numpy as np

In [2]:
#obtener el directorio de trabajo
os.getcwd()

'/Users/ceciliaguillametchargue'

In [55]:
#cambiar el directorio de trabajo
os.chdir('/Users/ceciliaguillametchargue/Library/Mobile Documents/com~apple~CloudDocs/Documents/Proyectos/RSU/Encuesta/Planillas Residuos para estadística')

In [56]:
# Primero especificamos un patrón del archivo y lo pasamos como parámetro en la función glob
excel_files = glob.glob('*.xlsx')
# Mostrar el archivo csv_files, el cual es una lista de nombres
print(excel_files)

['Bº Andorra Plaza.xlsx', 'B Pipo Plaza.xlsx', 'Bª Andino Plaza.xlsx', 'Bº Centro chica Plaza.xlsx', 'Bº Don Bosco.xlsx', 'Bº ALAKALUFES PLAZA.xlsx', 'Bº Andino AN Lag. Diablo.xlsx', 'B Centro - Plaza Godoy y Gdor Paz.xlsx', 'Bº 640 Plaza.xlsx', 'Bº Ecológico Plaza.xlsx', 'Bº Centro Plaza del libro.xlsx', 'B Centro - Mirador del Fernandez.xlsx', 'Bº Ecológico - AN-.xlsx', 'Bº Pipo - AN.xlsx', 'Bº Alakalufes 2 AN.xlsx']

In [57]:
list_data = []
  
# Escribimos un loop que irá a través de cada uno de los nombres de archivo a través de globbing y el resultado final será la lista dataframes ya 
# procesados, dado que necesitamos que la información esté en formato wide

for file in excel_files:
    data = pd.DataFrame(pd.read_excel(file, sheet_name = 'Hoja1', header = 0, index_col = 0)) #carga de datos
    data.reset_index(inplace=True, drop=False) #reset de los indices
    data.set_index('Sector', inplace = True) #setea al sector como indice
    data = np.transpose(data) #traspone los datos

    data.reset_index(inplace=True, drop=False) #reset de indices para que el sector sea una columna
   
    data["Barrio"] = file #agregamos la columna Barrio y se le asigna como dato el nombre del archivo
    
    data = data[['index','Cuadrante', 'Observacion','Barrio', '1) RESTOS DE COMIDA', '2) OTROS ORGÁNICOS', '3.1) PLÁSTICOS: PET Y PEAD ', 
    '3.2) PLÁSTICO UN SOLO USO', '3.3) OTROS PLÁSTICOS', '4.1) ALUMINIO (METALES)', '4.2) FERROSOS LATA ', '4.3) OTROS METALES', '5) VIDRIO',
    '6.1) CARTÓN DE TODO TIPO', '6.1) OTROS PAPELES', '7) TETRAPACK', '8.1) ABSORBENTES ', '8.2) RAEE ', '8.3) PILAS Y BATERÍAS',
    '8.4) OTROS ASIMI A PELIGR', '9) TEXTILES Y DE INDUM', '10) OTROS INORGÁNICOS', '11) COLILLAS']] #reordenamos las columnas
    
    data = pd.melt(data, id_vars=['index','Cuadrante', 'Observacion', 'Barrio'], value_vars=data.iloc[:,4:]) #pasamos los datos a formato wide
    list_data.append(data) #concatenamos los datos en una lista
    
df = pd.concat(list_data,ignore_index=True)

In [58]:
# renombramos algunas columnas
df.rename(columns = {'index': 'Sector', 'Sector': 'Tipo'}, inplace = True)

In [59]:
# separamos por el punto y nos quedamos con la primer columna (.str[0])
df['Sector'] = df['Sector'].str.split('.').str[0]
df

,Sector,Cuadrante,Observacion,Barrio,Tipo,value
0,SECTOR C (CERCA),Cuadrante 1,DETALLE,Bº Andorra Plaza.xlsx,1) RESTOS DE COMIDA,NaN
1,SECTOR C (CERCA),Cuadrante 1,PESO (g),Bº Andorra Plaza.xlsx,1) RESTOS DE COMIDA,NaN
2,SECTOR C (CERCA),Cuadrante 2,DETALLE,Bº Andorra Plaza.xlsx,1) RESTOS DE COMIDA,NaN
3,SECTOR C (CERCA),Cuadrante 2,PESO (g),Bº Andorra Plaza.xlsx,1) RESTOS DE COMIDA,NaN
4,SECTOR C (CERCA),Cuadrante 3,DETALLE,Bº Andorra Plaza.xlsx,1) RESTOS DE COMIDA,NaN
...,...,...,...,...,...,...
5125,SECTOR F (FONDO/LEJOS),Cuadrante 1,PESO (g),Bº Alakalufes 2 AN.xlsx,11) COLILLAS,0
5126,SECTOR F (FONDO/LEJOS),Cuadrante 2,DETALLE,Bº Alakalufes 2 AN.xlsx,11) COLILLAS,NaN
5127,SECTOR F (FONDO/LEJOS),Cuadrante 2,PESO (g),Bº Alakalufes 2 AN.xlsx,11) COLILLAS,0
5128,SECTOR F (FONDO/LEJOS),Cuadrante 3,DETALE,Bº Alakalufes 2 AN.xlsx,11) COLILLAS,NaN
5129,SECTOR F (FONDO/LEJOS),Cuadrante 3,PESO (g),Bº Alakalufes 2 AN.xlsx,11) COLILLAS,0

In [60]:
# seleccionamos solo los pesos y no el detalle
df_peso = df[df['Observacion'] == 'PESO (g)']

In [61]:
# cargamos dataframe de superficies por area
sup = pd.read_excel('/Users/ceciliaguillametchargue/Library/Mobile Documents/com~apple~CloudDocs/Documents/Proyectos/RSU/Encuesta/Superficies.xlsx')

In [62]:
# calculamos el area por parcela
sup['Parcela'] = sup['Superficie (m2)']/9

In [63]:
sup

,Barrio,Area,Largo,Ancho,Superficie (m2),Parcela
0,Bº Pipo - AN.xlsx,Area natural,48.0,37.0,1776.00,197.333333
1,B Pipo Plaza.xlsx,Plaza,22.5,32.4,729.00,81.000000
2,Bº Ecológico - AN-.xlsx,Area natural,75.0,50.0,3750.00,416.666667
3,Bº Ecológico Plaza.xlsx,Plaza,36.0,36.0,1296.00,144.000000
4,B Centro - Mirador del Fernandez.xlsx,Plaza,50.6,36.0,1821.60,202.400000
5,B Centro - Plaza Godoy y Gdor Paz.xlsx,Plaza,28.2,39.8,1122.36,124.706667
6,Bº Centro chica Plaza.xlsx,Plaza,43.0,25.5,523.59,58.176667
7,640 AN,Area natural,42.0,56.0,2352.00,261.333333
8,Bº 640 Plaza.xlsx,Plaza,48.0,44.0,2112.00,234.666667
9,Bº Andino AN Lag. Diablo.xlsx,Area natural,75.0,90.0,6750.00,750.000000
10,Bª Andino Plaza.xlsx,Plaza,80.0,25.0,2000.00,222.222222
11,Bº Alakalufes 2 AN.xlsx,Area natural,150.0,47.0,7050.00,783.333333
12,Bº ALAKALUFES PLAZA.xlsx,Plaza,26.0,44.0,1144.00,127.111111
13,Bº Andorra Plaza.xlsx,Plaza,17.0,16.0,272.00,30.222222
14,Bº Don Bosco.xlsx,Plaza,60.0,6.0,360.00,40.000000
15,Malvinas AN,Area natural,66.0,50.0,3300.00,366.666667
16,Malvinas P,Plaza,51.0,51.0,879.20,97.688889
17,Monte Gallinero AN,Area natural,70.0,50.0,3500.00,388.888889
18,Monte Gallinero P,Plaza,18.0,30.0,540.00,60.000000

In [64]:
# asignamos el área según el barrio. La info del área la sacamos del dataframe que tiene las superficies
df_peso['Area'] = df_peso['Barrio'].map(dict(zip(sup['Barrio'], sup['Area']))).fillna('-')

<ipython-input-64-682bf21f19ee>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_peso['Area'] = df_peso['Barrio'].map(dict(zip(sup['Barrio'], sup['Area']))).fillna('-')

In [65]:
df_peso

,Sector,Cuadrante,Observacion,Barrio,Tipo,value,Area
1,SECTOR C (CERCA),Cuadrante 1,PESO (g),Bº Andorra Plaza.xlsx,1) RESTOS DE COMIDA,NaN,Plaza
3,SECTOR C (CERCA),Cuadrante 2,PESO (g),Bº Andorra Plaza.xlsx,1) RESTOS DE COMIDA,NaN,Plaza
5,SECTOR C (CERCA),Cuadrante 3,PESO (g),Bº Andorra Plaza.xlsx,1) RESTOS DE COMIDA,0,Plaza
7,SECTOR M (MEDIO),Cuadrante 1,PESO (g),Bº Andorra Plaza.xlsx,1) RESTOS DE COMIDA,0,Plaza
9,SECTOR M (MEDIO),Cuadrante 2,PESO (g),Bº Andorra Plaza.xlsx,1) RESTOS DE COMIDA,0,Plaza
...,...,...,...,...,...,...,...
5121,SECTOR M (MEDIO),Cuadrante 2,PESO (g),Bº Alakalufes 2 AN.xlsx,11) COLILLAS,0,Area natural
5123,SECTOR M (MEDIO),Cuadrante 3,PESO (g),Bº Alakalufes 2 AN.xlsx,11) COLILLAS,0,Area natural
5125,SECTOR F (FONDO/LEJOS),Cuadrante 1,PESO (g),Bº Alakalufes 2 AN.xlsx,11) COLILLAS,0,Area natural
5127,SECTOR F (FONDO/LEJOS),Cuadrante 2,PESO (g),Bº Alakalufes 2 AN.xlsx,11) COLILLAS,0,Area natural
5129,SECTOR F (FONDO/LEJOS),Cuadrante 3,PESO (g),Bº Alakalufes 2 AN.xlsx,11) COLILLAS,0,Area natural

In [66]:
# convertimos a numérica la columna value
df_peso['value'] = pd.to_numeric(df_peso['value'], errors='coerce')

<ipython-input-66-6c3f6a8a3fe1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_peso['value'] = pd.to_numeric(df_peso['value'], errors='coerce')

In [67]:
# asignamos el valor de la parcela a cada uno de los barrios
df_peso['Parcela'] = df_peso['Barrio'].map(dict(zip(sup['Barrio'], sup['Parcela'])))

<ipython-input-67-c2cfd7b0ecb5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_peso['Parcela'] = df_peso['Barrio'].map(dict(zip(sup['Barrio'], sup['Parcela'])))

In [68]:
df_peso

,Sector,Cuadrante,Observacion,Barrio,Tipo,value,Area,Parcela
1,SECTOR C (CERCA),Cuadrante 1,PESO (g),Bº Andorra Plaza.xlsx,1) RESTOS DE COMIDA,NaN,Plaza,30.222222
3,SECTOR C (CERCA),Cuadrante 2,PESO (g),Bº Andorra Plaza.xlsx,1) RESTOS DE COMIDA,NaN,Plaza,30.222222
5,SECTOR C (CERCA),Cuadrante 3,PESO (g),Bº Andorra Plaza.xlsx,1) RESTOS DE COMIDA,0.0,Plaza,30.222222
7,SECTOR M (MEDIO),Cuadrante 1,PESO (g),Bº Andorra Plaza.xlsx,1) RESTOS DE COMIDA,0.0,Plaza,30.222222
9,SECTOR M (MEDIO),Cuadrante 2,PESO (g),Bº Andorra Plaza.xlsx,1) RESTOS DE COMIDA,0.0,Plaza,30.222222
...,...,...,...,...,...,...,...,...
5121,SECTOR M (MEDIO),Cuadrante 2,PESO (g),Bº Alakalufes 2 AN.xlsx,11) COLILLAS,0.0,Area natural,783.333333
5123,SECTOR M (MEDIO),Cuadrante 3,PESO (g),Bº Alakalufes 2 AN.xlsx,11) COLILLAS,0.0,Area natural,783.333333
5125,SECTOR F (FONDO/LEJOS),Cuadrante 1,PESO (g),Bº Alakalufes 2 AN.xlsx,11) COLILLAS,0.0,Area natural,783.333333
5127,SECTOR F (FONDO/LEJOS),Cuadrante 2,PESO (g),Bº Alakalufes 2 AN.xlsx,11) COLILLAS,0.0,Area natural,783.333333
5129,SECTOR F (FONDO/LEJOS),Cuadrante 3,PESO (g),Bº Alakalufes 2 AN.xlsx,11) COLILLAS,0.0,Area natural,783.333333

In [69]:
# convertimos a numérica la columna parcela
df_peso['Parcela'] = pd.to_numeric(df_peso['Parcela'], errors='coerce')

<ipython-input-69-6c5d3ba3e556>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_peso['Parcela'] = pd.to_numeric(df_peso['Parcela'], errors='coerce')

In [70]:
for i in df_peso['Barrio']:
    for j in df_peso['Sector']:
        df_peso['valor'] = np.where(df_peso['Barrio'] == i & df_peso['Sector'] == j & df_peso['Area'] == 'Area natural',

SyntaxError: unexpected EOF while parsing (<ipython-input-70-fc609876a68d>, line 3)

In [71]:
df_peso['value'] = np.where(df_peso['value'].isna(), 0, df_peso['value'])

<ipython-input-71-4992e7cd1dc2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_peso['value'] = np.where(df_peso['value'].isna(), 0, df_peso['value'])

In [72]:
# creamos la columna valor/m2
df_peso['valor/m2'] = df_peso['value']/df_peso['Parcela']

<ipython-input-72-4f38c4a93744>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_peso['valor/m2'] = df_peso['value']/df_peso['Parcela']

In [73]:
df_peso

,Sector,Cuadrante,Observacion,Barrio,Tipo,value,Area,Parcela,valor/m2
1,SECTOR C (CERCA),Cuadrante 1,PESO (g),Bº Andorra Plaza.xlsx,1) RESTOS DE COMIDA,0.0,Plaza,30.222222,0.0
3,SECTOR C (CERCA),Cuadrante 2,PESO (g),Bº Andorra Plaza.xlsx,1) RESTOS DE COMIDA,0.0,Plaza,30.222222,0.0
5,SECTOR C (CERCA),Cuadrante 3,PESO (g),Bº Andorra Plaza.xlsx,1) RESTOS DE COMIDA,0.0,Plaza,30.222222,0.0
7,SECTOR M (MEDIO),Cuadrante 1,PESO (g),Bº Andorra Plaza.xlsx,1) RESTOS DE COMIDA,0.0,Plaza,30.222222,0.0
9,SECTOR M (MEDIO),Cuadrante 2,PESO (g),Bº Andorra Plaza.xlsx,1) RESTOS DE COMIDA,0.0,Plaza,30.222222,0.0
...,...,...,...,...,...,...,...,...,...
5121,SECTOR M (MEDIO),Cuadrante 2,PESO (g),Bº Alakalufes 2 AN.xlsx,11) COLILLAS,0.0,Area natural,783.333333,0.0
5123,SECTOR M (MEDIO),Cuadrante 3,PESO (g),Bº Alakalufes 2 AN.xlsx,11) COLILLAS,0.0,Area natural,783.333333,0.0
5125,SECTOR F (FONDO/LEJOS),Cuadrante 1,PESO (g),Bº Alakalufes 2 AN.xlsx,11) COLILLAS,0.0,Area natural,783.333333,0.0
5127,SECTOR F (FONDO/LEJOS),Cuadrante 2,PESO (g),Bº Alakalufes 2 AN.xlsx,11) COLILLAS,0.0,Area natural,783.333333,0.0
5129,SECTOR F (FONDO/LEJOS),Cuadrante 3,PESO (g),Bº Alakalufes 2 AN.xlsx,11) COLILLAS,0.0,Area natural,783.333333,0.0

In [74]:
# guardamos como un excel
df_peso.to_excel("base_residuos.xlsx")